A:link {
	
}
A:visited {
	
}
A:active {
	
}
A:hover {
	
}
A:link {
	COLOR: #0000ff
}
A:visited {
	COLOR: #551a8b
}
A:active {
	COLOR: #ff0000
}
A:hover {
	
}
.onbody {
	
}
.onbody A:link {
	
}
.onbody A:visited {
	
}
.onbody A:active {
	
}
BODY {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e2dfc8
}
P {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e2dfc8
}
TABLE {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e2dfc8
}
TD {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e2dfc8
}
TH {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e2dfc8
}
TR {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e2dfc8
}
TH {
	FONT-WEIGHT: 700
}
PRE {
	FONT-FAMILY: 
}
.leftnav {
	BACKGROUND-COLOR: #ececec
}
.leftnavouter {
	BACKGROUND-COLOR: #a4a69d
}
.welcome {
	COLOR: #e2dfc8; BACKGROUND-COLOR: #333333
}
.rightside {
	BACKGROUND-COLOR: #39456e
}
.nofiles {
	COLOR: #a4a69d
}
.splt_headline {
	FONT-WEIGHT: 700; FONT-SIZE: 150%; COLOR: #008000; TEXT-ALIGN: center
}
.splt_feature {
	FONT-WEIGHT: 700; COLOR: #ff0000
}
.splt_progname {
	FONT-WEIGHT: normal; FONT-SIZE: 110%
}
.splt_download {
	FONT-WEIGHT: 700
}
