.links10 {
	FONT-SIZE: 10px; MARGIN: 4px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.links10bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN: 4px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.box9 {
	FONT-SIZE: 9px; MARGIN: 4px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.box10 {
	FONT-SIZE: 10px; MARGIN: 4px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.box10bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN: 4px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.leftnav10bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.nav9bold {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif; TEXT-DECORATION: none
}
.nav9boldwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif; TEXT-DECORATION: none
}
.nav10boldred {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #e32a2a; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif; TEXT-DECORATION: none
}
.nav10 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif; TEXT-DECORATION: none
}
.nav10white {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif; TEXT-DECORATION: none
}
.nav10bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif; TEXT-DECORATION: none
}
.nav10boldwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.nav10top {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.nav11 {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif; TEXT-DECORATION: none
}
.nav11bold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif; TEXT-DECORATION: none
}
.nav11white {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.nav11red {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.nav11boldwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.search11boldwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.head {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.head16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.head14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.head12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.head11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.body {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.body9 {
	FONT-SIZE: 9px; COLOR: #000000; LINE-HEIGHT: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.body9bold {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.body9boldwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.byline {
	FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-ALIGN: right
}
.body12 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
.body12bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
.body12white {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
.body11 {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
.body11white {
	FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
.body11bold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
.body10 {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
.body10white {
	FONT-SIZE: 10px; COLOR: #ffffff; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
.body10bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
.meta9 {
	FONT-SIZE: 9px; COLOR: #000000; LINE-HEIGHT: 11px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
.meta9bold {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; LINE-HEIGHT: 11px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
DIV {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}
DL {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
DT {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
DD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
LI {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
UL {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
OL {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
PRE {
	FONT-SIZE: 14px
}
.nav12red {
	FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif; TEXT-DECORATION: none
}
.nav12green {
	FONT-SIZE: 12px; COLOR: #006633; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif; TEXT-DECORATION: none
}
.richlinkstyle6 {
	FONT-SIZE: 12px; COLOR: #990000; BORDER-BOTTOM: #990000 1pt dotted; TEXT-DECORATION: none
}
