.nav10color {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #990033; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.nav11red {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #990000; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.subhead9bold {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #990033; LINE-HEIGHT: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.subhead10bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #990033; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.subhead12bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990033; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #990033; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TEXT-DECORATION: none
}
.deck {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #990033; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.cap24 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #990033; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
.q {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990033; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
HR {
	FONT-WEIGHT: bold; COLOR: #990033
}
.contactbox {
	BACKGROUND-COLOR: #eeeeee
}
